<div ClassName="Employee Form">
    <h1>Add New Employee</h1>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="text" placeholder="Birth Date" />
    <input type="text" placeholder="Gender" />
    <input type="text" placeholder="Race" />
    <input type="text" placeholder="Ethnicity" />
    <input type="text" placeholder="Role" />
    <input type="text" placeholder="Address" />
    <input type="text" placeholder="Phone Number" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Department" />
</div>